@{
}

<h1>Inserir Novo Cliente</h1>
<div class="col-auto">
    <label for="exampleFormControlInput1" class="form-label">Nome</label>
    <input type="email" class="form-control" id="exampleFormControlInput1">
</div>
