@using SenaiApp.Domain.Entidade;
@{
    var todosClientes = (List<Cliente>)ViewBag.Cliente;
}

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Nome</th>
            <th scope="col">Sobrenome</th>
            <th scope="col">Sexo</th>
            <th scope="col">Deletar</th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (var cliente in todosClientes)
            {
                <tr>
                    <th scope="row">@cliente.Id</th>
                    <td>@cliente.Nome</td>
                    <td>@cliente.Sobrenome</td>
                    <td>@cliente.Sexo</td>
                    <td><a href="Cliente/Remover/@cliente.Id" class="btn btn-danger">Deletar</a></td>
                </tr>
            }
        }
    </tbody>
    <a class="btn btn-dark" asp-area="" asp-controller="Cliente" asp-action="Form">Novo</a>
</table>
